
body {
  margin: 0 0 0 0 !important;
}
canvas {
  display:block;
  margin:20px auto 0;
  border:1px dashed #ccc;
}
#game { 
  width:800px; 
  float:right; 
  padding:10px; 

#cards {
  display: block;
  margin: auto;
    }
 }